html,
body
{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
  background: #fff;

}

h1
{
  font-size: 20px;
  font-weight: normal;
  color: #2e6e80;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
  
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
/*.clouds
{
  z-index: 1;
  width: 3000px;
  background: url(../images/clouds.png) repeat-x 0 0;
    height: 500px;
    background-size: contain;
}*/
/*.horizon {
    z-index: 2;
    width: 6000px;
    background: url(../images/treesbg02.png) repeat-x 0 0;
    height: 362px;
}
.trees {
        z-index: 2;
    width: 10000px;
    background: url(../images/treesbg01.png) repeat-x 0 0;
    height: 300px;
}
*/
/*.middle
{
 z-index: 500;
    width: 12000px;
    background: url(../images/suburbhouses.png) repeat-x 0 0;
    height: 350px;
}*/

/*
offest
CN toroonoto

webdam 
sf

Rex
london - big ben

Premium beat
Toronoyo maple leaf
*/





.front
{
  z-index: 650;
  width: 40000px;
}
.start {
    z-index: 950;
    background: url(../images/mission_frame.png) no-repeat 0 0;
    background-size: contain;
    height: 100px;
    position: relative;
    bottom: 103px;
    left: 2.25%;
    display:none;
}

.blurb{
  	background-size: contain;
  	width: 600px;
  	height: 392px;
  	position: absolute;
  	zoom: 37%;
}

.monkeyempire {
    z-index: 950;
    background: url(../images/monkeyempire.png) no-repeat 0 0;
    background-size: contain;
    height: 400px;
    position: relative;
    bottom: -818px;
    left: 700px;
}
.monkeyempire.wink{
    background: url(../images/monkeyempire-wink.png) no-repeat 0 0;
	background-size: contain;
}
.monkeyempire .blurb{
	background: url(../images/Shutterstock-founded.png) no-repeat 0 0;
	top: -320px;
	left: -236px;
}
/*
.chopper {
    z-index: 942;
    background: url(../images/chopper.png) no-repeat 0 0;
    background-size: contain;
    height: 78px;
    position: relative;
    bottom: 82px;
    left: 6%;
}
*/
.statueofliberty {
    z-index: 950;
    background: url(../images/statue-of-liberty.png) no-repeat 0 0;
    background-size: contain;
    height: 500px;
    position: relative;
    bottom: -319px;
    left: 3400px;
}

.statueofliberty .blurb{
	background: url(../images/Bigstock-acquired.png) no-repeat 0 0;
	top: -100px;
	left: 400px;
}


.statueofliberty.flicker{
    background: url(../images/statue-of-liberty-alt.png) no-repeat 0 0;
	background-size: contain;
}

.apple {
    z-index: 950;
    background: url(../images/apple.png) no-repeat 0 0;
    background-size: contain;
    height: 100px;
    position: relative;
    bottom: -221px;
    left: 9400px;

  }

.goldengate {
    z-index: 950;
    background: url(../images/goldengate.png) no-repeat 0 0;
    background-size: contain;
    height: 300px;
    position: relative;
    bottom: 76px;
    left: 18202px;
}

  
  .apple .blurb{
  	background: url(../images/Offset-launched.png) no-repeat 0 0;
  	top: -400px;
  	left: -400px;
  }
.nyskyline {
    z-index: 650;
    background: url(../images/nyskyline.png) no-repeat 0 0;
    width: 8000px;
    height: 531px;
    background-size: contain;
    bottom: 57px;
}
.nyskyline2 {
    z-index: 650;
    background: red url(../images/nyskyline2.png) no-repeat 0 0;
    width: 8000px;
    height: 339px;
    background-size: contain;
    bottom: 73px;
    margin-left: 1467px;
}
.sfskyline {
    z-index: 650;
    background: green url(../images/sfskyline.png) no-repeat 0 0;
    width: 8000px;
    height: 339px;
    background-size: contain;
    bottom: 73px;
    margin-left: 2715px;
}
.torontoskyline {
    z-index: 650;
    background: blue url(../images/torontoskyline.png) no-repeat 0 0;
    width: 8000px;
    height: 339px;
    background-size: contain;
    bottom: 73px;
    margin-left: 4077px;
}
.londonskyline {
    z-index: 650;
    background: purple url(../images/londonskyline.png) no-repeat 0 0;
    width: 8000px;
    height: 339px;
    background-size: contain;
    bottom: 73px;
    margin-left: 5330px;
}
.torontoskyline2 {
    z-index: 650;
    background: yellow url(../images/torontoskyline.png) no-repeat 0 0;
    width: 8000px;
    height: 339px;
    background-size: contain;
    bottom: 73px;
    margin-left: 6556px;
}
.mountain {
    z-index: 650;
    background: red url(../images/nyskyline.png) no-repeat 0 0;
    width: 8000px;
    height: 531px;
    background-size: contain;
    bottom: 57px;
    margin-left: 8556px;
}
.ground {
    z-index: 850;
    width: 8000px;
    bottom: 0;
    background: url(../images/ground.png) repeat-x 0 0;
    height: 100px;
    background-size: contain;
}